html, body, .cont {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/ROOT/assets/background.png");
    background-size: cover;
    font-family: "DM Sans", serif;
    justify-content: center;
    --modal-cor: rgba(224, 224, 224, 0.4);
}

.login {
    display:grid;
    background-color: var(--modal-cor);
    border-radius: 10px;
    padding: 20px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items:center;
    /* min-height: 120vh; */
}

.ovo {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 10px;
}

.cont input {
    background-color: transparent;
    font-size:20px;
    border: none;
    border-radius: 5px;
    outline: 0px;
}

button {
    font-size:20px;
    margin: 2px;
    border: none;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

.ronaldo {
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.ronaldo:hover {
    color: rgb(12, 159, 179)
}

@keyframes ugabuga {
    from{box-shadow: 0px 0px 55px 10px rgba(0,0,0,0)}
    to{box-shadow: 0px 0px 45px 5px rgba(30,30,30,1)}
}

.login:hover {
    animation-name: ugabuga;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 45px 5px rgba(30,30,30,1);
}

@keyframes button_transition {
    from{color: black}
    to{background-color: Black}
    to{color:white}
}

button:hover {
    animation-name: button_transition;
    animation-duration: 0.5s;
    background-color: black;
    color: white;
}

/* @keyframes input_transition {
    0%{} /*TERMINAR AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
}

.cont input:hover {
    animation-name: input_transition;
    animation-duration: 0.5s;
}*/

ul {
    display: none;
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 20vh;
    margin: 0;
    padding: 0;
}

li {
    justify-content: center;
    display: flex;
}

ul button {
    width: 100vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-weight: bold;
    background-color: transparent;
}

@keyframes menu {
    from{box-shadow: 0px 0px 55px 10px rgba(0,0,0,0)}
    to{box-shadow: 25px 0px 45px -10px rgba(30,30,30,1)}
}

ul:hover {
    animation-name: menu;
    animation-duration: 0.5s;
    box-shadow: 25px 0px 45px -10px rgba(30,30,30,1);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#menu {
    position: fixed;
    margin-top: 0vh;
}

.modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    background-color: var(--modal-cor);
    padding: 5rem;
    min-width: 800px;
    font-weight: 600;
    font-size: 20px;
}

.userimgcamp {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.modal img {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.modal-turmas {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    background-color: rgba(224, 224, 224, 0.4);
    padding: 5rem;
}

.username2 {
    font-size: 4em;
    position: relative;
    margin-top: -6vh;
    top: 0px;
    max-width: 500px;
    /*align-items: center; me diz o sentido de alinhar os itens que estão dentro do username?????*/
}